.red {
  border: 3px solid red;
}

.green {
  border: 3px solid green;
}

.yellow {
  border: 3px solid yellow;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}

